@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

:root {
  --background: #000;
  --suface: #000;
  --on-background: #fff;
  --on-surface: #fff;
  }
  
  [data-theme="light"] {
    --background: #DDDDDD;
    --suface: #FFFFFF;
    --on-background: #333333;
    --on-surface: #333333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', cursive;
  }
  
  a {
    color: var(--on-background);
    text-decoration: none;
  }
  
  .container{
    /* display: flex;
    align-items: center;
    justify-content: center;*/
    margin-top: 140px;
    font-size: 25px;
    flex-direction: column; 
    display: flex;
    /* width: 90vw; */
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    color: #fff;
    /* font-size: 96px; */
    /* font-family: 'Fira Mono', monospace; */
    letter-spacing: 3px;
  }

  .container{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }

  .container::before{
    animation: glitchTop 0.9s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }

  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }

  .container::after{
    animation: glitchBotom 1s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }

  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

  .err{
    margin-right: 10px;
  }

  .err-msg{
    margin-top: 5px;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: 'Inter', sans-serif;
  }
  
  .app-container {
    color: var(--on-background);
    background-color: var(--background);
    min-height: 100vh;
    transition: all ease-in-out 0.5s;
  }
  
  header {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  header .navgator ul li {
    display: inline-block;
    font-size: 18px;
    margin: 0 8px;
  }
  
  header .navgator ul li:hover {
    border: 1px solid var(--on-background);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
  }
  
  header .navgator ul li button {
    font-size: 18px;
    background: transparent;
    color: var(--white);
    cursor: pointer;
    border: 0;
  }
  main {
    margin: 0 auto;
    padding: 32px 0;
    width: 90%;
    max-width: 1200px;
  }
  
  .record-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px 8px;
  }
  
  .list-record-empty {
    margin-top: 32px;
    padding: 16px 8px;
  }
  
  .list-record-empty p {
    text-align: center;
    color: var(--on-background);
  }
  .item-records {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--on-background);
  }
  
  .item-records__title {
    margin: 4px 0;
  }
  
  .item-records__createdAt {
    color: var(--on-background);
    font-size: 14px;
    margin: 4px 0;
  }
  
  .item-records__body {
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  
  .record-detail {
    margin: 0 auto;
    margin-top: 32px; 
    width: 90%;
  }
  
  .record-detail__title {
    font-size: 48px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }
  
  .record-detail__createdAt {
    color: var(--on-background)
  }
  
  .record-detail__body {
    line-height: 1.5;
    margin-top: 36px;
    font-size: 18px;
  }
  .record-detail__body a, .login-page__footer a, .register-page__footer a {
    text-decoration: underline;
  }
  
  .record-detail__execution, .homepage__execution, .add-records__execution, .edit-page__execution {
    position: fixed;
    display: flex;
    gap: 16px;
    bottom: 50px;
    right: 30px;
  }
  
  .Button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 4px solid var(--on-background);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--on-background);
    color: var(--background);
    padding: 8px;
    cursor: pointer;
  }
  .new-add-record__execution{
    position: fixed;
    display: flex;
    gap: 16px;
    bottom: 50px;
    right: 30px;
  }
  .Button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border: 4px solid var(--on-background);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: var(--background);
    color: var(--on-background);
    padding: 8px;
    cursor: pointer;
  }
  
  .add-records__input, .edit-page__input {
    margin-top: 32px;
  }
  
  .add-records__input .add-records__input__title, .edit-page__input .edit-page__input__title {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: var(--on-background);
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: bold;
    padding: 8px 0;
  }
  
  .add-records__input__title::placeholder, .edit-page__input__title::placeholder {
    color: var(--on-background);
  }
  
  .add-records__input .add-records__input__body, .edit-page__input .edit-page__input__body {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: var(--on-background);
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    padding: 8px 0;
    min-height: 500px;
  }
  
  .rdw-editor-toolbar, .rdw-dropdown-selectedtext {
    color: #333333;
  }
  
  [data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: var(--on-background)
  }
  
  .search-bar input {
    margin: 16px 0;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
    border: 1px solid var(--on-background);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    color: var(--on-background);
  }
  
  .search-bar input::placeholder {
    color: var(--on-background);
  }
  
  .toggle-theme, .toggle-locale, .button-logout {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: var(--on-background);
    display: flex;
    align-items: center;
    margin: 0 16px;
  }
  
  .toggle-theme {
    font-size: 28px;
  }
  
  .toggle-locale {
    font-size: 28px;
  }
  
  .input-login, .input-register {
    margin: 32px 0;
  }
  
  .input-login label, .input-register label {
    font-size: 24px;
    font-weight: lighter;
  }
  
  .input-login input, .input-register input {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
    margin-bottom: 16px;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid var(--on-background);
    color: var(--on-background)
  }
  
  .input-login button, .input-register button {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 8px;
    background-color: var(--on-background);
    color: var(--background);
    cursor: pointer;
  }
  
  .button-logout {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 0;
    font-size: 28px;
    cursor: pointer;
    color: var(--on-background);
  }
  
  .loading-indicator {
    text-align: center;
    padding: 1rem;
  }
  
  @media screen and (min-width: 650px) {
    .record-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .record-detail__title { 
      font-size: 64px;
    }
  }
  
  @media screen and (min-width: 850px) {
    .record-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .record-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }